<table width="100%">
    <tr>
        <td style="width: 20%;">
            <img src="/images/ongc_logo.png" class="rounded float-start" alt="ONGC Logo" height="100" />
        </td>
        <td style="vertical-align: bottom; width: 20%;">
            <h3>Entry Form</h3>
        </td>
        <td style="vertical-align: top; width: 60%; ">
            <h2><%= headerTitle %> </h1>
        </td>
    </tr>
</table>