<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  </head>

  <body>
    <div class="registration-form">
      <form>
        <div>
          <input
            type="text"
            class="form-control item"
            id="username"
            placeholder="Username"
          />
        </div>
        <div>
          <input
            type="password"
            class="form-control item"
            id="password"
            placeholder="Password"
          />
        </div>
        <div>
          <input
            type="text"
            class="form-control item"
            id="email"
            placeholder="Email"
          />
        </div>
        <div>
          <input
            type="text"
            class="form-control item"
            id="phone-number"
            placeholder="Phone Number"
          />
        </div>
        <div>
          <input
            type="text"
            class="form-control item"
            id="birth-date"
            placeholder="Birth Date"
          />
        </div>
        <div>
          <a href="/views/electric_complaint.html"
            ><button type="submit" class="btn btn-block create-account">
              Registration
            </button></a
          >
        </div>
      </form>
    </div>
  </body>
</html>
